@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Coming+Soon&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    font-family: 'Open Sans';
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

.clickable {
    transform: scale(1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.clickable:hover {
    transform: scale(1.5);
}

.clickable-1:hover {
    transform: scale(1.1);
}

.clickable-2:hover {
    transform: scale(1.2);
}